@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;700&display=swap');
html {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

ol,
ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

body {
    background: #F1F4F8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.input {
    font-family: inherit;
    width: 300px;
    padding: 1rem;
    font-size: 1rem;
    background: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: none;
    outline: none;
    border-radius: 3px;
    margin-bottom: 2rem;
    transition: 0.5s;
}

.input::placeholder {
    font-weight: 400;
}

.input:hover {
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
}

.main {
    background: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 3rem;
    border-radius: 3px;
    max-width: 30%;
}

.main:hover {
    background-color: #0066FF;
    transition: 0.5s;
    color: white;
}

.main:hover .repo {
    background: #dde5f0;
    color: black;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imageContainer img {
    max-width: 200px;
    max-height: 200px;
    border-radius: 50%;
}

.infoContainer li {
    margin-bottom: 1rem;
}

.name {
    font-size: 2rem;
    margin: 1rem 0;
    text-align: center;
}

.bio {
    font-weight: 300;
    margin-top: 1rem 0;
}

.infoAlt {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1.5rem;
}

.infoAlt li strong {
    font-weight: 500;
}

.repoContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 1rem;
}

.repo {
    background: #C4CAD3;
    padding: 0.5rem;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    text-align: center;
    font-size: 13px;
    transition: 0.5s;
    text-decoration: none;
    background-size: 200% auto;
    color: black;
    border-radius: 3px;
    display: block;
}

.repo:hover {
    background-position: right center;
    text-decoration: none;
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
}